* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
	font-family: 'Raleway', sans-serif;
    color: #000;
    line-height:120%;
}

.containers {
    width:100%;
    display: flex;
    flex-direction: row;
}

.anomaly_container {
	display: flex;
 	flex-direction: row;
    align-items: center;
  	justify-content: space-between;
    width:100%;
    padding: 10px 0 10px 0;
    height: auto;
    border-bottom: 1px solid #EEE;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}
#anomalyArea {
    width: 50%;
}
.anomaly_container:first-child {
    color: #333;
    font-weight:600;
}
.anomaly_container:not(:first-child) {
    color: #999;
    font-weight:500;
    font-size: 0.9rem;
    padding: 7px 0 7px 0;
}


@keyframes fadein {
    from { opacity: 0; color: #FFF; }
    to   { opacity: 1; color: #333; }
}

.currency_container {
	display: flex;
 	flex-direction: row;
    align-items: center;
  	justify-content: space-between;
    width:100%;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #CCC;
}
.movement {
    transition: all 0.2s ease-in-out;
}
.up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #9cf4dc;
}
.down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffe1e1;
}
.left {
	display: flex;
	width: 250px;
 	flex-direction: row;
    align-items: center;
}
.left_inner {
	margin-left:20px;
	display: flex;
 	flex-direction: column;
}
.right {
	display: grid;
  	grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-left:50px;
    padding-top: 5px;
}
.symbol {
	font-weight:500;
    font-size:0.8rem;
    color: #666;
}
.label {
	font-weight:700;
    font-size:1rem;
}
.price {
	padding-top: 10px;
	font-weight:bold;
    font-size:3rem;
}

.category {
	display: flex;
 	flex-direction: column;
    width:150px;
}
.category_title {
	font-weight:500;
    font-size:0.8rem;
    color: #666;
    border-bottom: 1px solid #EEE;
    padding-bottom:2px;
}
.category_number {
	font-weight:600;
    font-size:0.9rem;
    color: #333;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    width: 95%;
    margin: 30px auto 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    height: 90%;
    transition: height 0.2s ease-in-out;
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: 600px;
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}


@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}