* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
	font-family: 'Raleway', sans-serif;
    color: #000;
    line-height:120%;
}

.containers {
    width:100%;
    /*display: flex;*/
    flex-direction: row;
}

.anomaly_container {
	display: flex;
 	flex-direction: row;
    align-items: center;
  	justify-content: space-between;
    width:100%;
    padding: 7px 0 7px 0;
    height: auto;
    border-bottom: 1px solid #EEE;
    font-weight: 600;
    font-size: 0.8rem;
    transition: all 0.5s ease-in-out;
}
#anomalyAreaContainer {
    width: 100%;
    height:0px;
    max-height: 200px;
    overflow: hidden;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
}
.anomaly_container:first-child {
    color: #333;
    font-weight:600;
}
.anomaly_container:not(:first-child) {
    color: #999;
    font-weight:500;
    font-size: 0.7rem;
    padding: 4px 0 4px 0;
}


@keyframes fadein {
    from { opacity: 0; color: #FFF; }
    to   { opacity: 1; color: #333; }
}

.currency_container {
	display: flex;
 	flex-direction: row;
    align-items: center;
  	justify-content: space-between;
    width:100%;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #CCC;
}
.movement {
    transition: all 0.2s ease-in-out;
}
.up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #9cf4dc;
}
.down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffe1e1;
}
.left {
	display: flex;
	width: 250px;
 	flex-direction: row;
    align-items: center;
}
.left_inner {
	margin-left:20px;
	display: flex;
 	flex-direction: column;
}
.right {
	display: grid;
  	grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-left:50px;
    padding-top: 5px;
}
.symbol {
	font-weight:500;
    font-size:0.8rem;
    color: #666;
}
.label {
	font-weight:700;
    font-size:1rem;
}
.price {
	padding-top: 10px;
	font-weight:bold;
    font-size:3rem;
}

.category {
	display: flex;
 	flex-direction: column;
    width:150px;
}
.category_title {
	font-weight:500;
    font-size:0.8rem;
    color: #666;
    border-bottom: 1px solid #EEE;
    padding-bottom:2px;
}
.category_number {
	font-weight:600;
    font-size:0.9rem;
    color: #333;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.7em;
}

.lightAxis line{
  stroke: #DDD;
}

.lightAxis path{
  stroke: #DDD;
}

.lightAxis text{
  fill: #BBB;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    background-color: #DDD;
    color: #666;
    font-size: 12px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.3rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 28px;
}


#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    width: 98%;
    margin: 5px auto 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    height: 96%;
    transition: height 0.2s ease-in-out;
    position: relative;

    overflow: auto;
    overflow-y: scroll;
}

#chat-page ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0px 20px;
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_container {
	display: flex;
    flex-direction: row;
	align-items: center;
}